@import url('https://fonts.googleapis.com/css?family=Lato:100,200,300,400,500,600,700');

body { 
    font-family: "Lato", sans-serif;
}

/*---------------------------------Special paddings/margins/text*/
h1,
h2,
h3,
h4 {
    margin: 0;
    font-weight: bold;
}

h1 {
    color: #fff!important;
}

.text-header {
    color: #f8f9fa!important;
    text-align: justify;
    font-weight: 500;
    font-size: 1.75em;
}

.bg-header {
    background-image: url("../images/landing-img.jpg");
    background-color: #212529;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    position: relative;
    opacity: 0.9;
    height: 100vh;
}

.center {
    margin-left: auto;
    margin-right: auto;
    display: block
}

.text-effect {
    transition: all .2s ease-in-out;
}

.text-effect:hover {
    transform: scale(1.1);
}

/*Images*/
.showcase .showcase-img .custom-responsiveness {
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    position: relative;
    height: auto;
    width: 100%;
    
 }


.icons-padding {
    margin-top: 20px; 
}

/*Form*/
.label-style {
    width: 100px;
    font-weight: bold;
}

.form-control-custom {
    border: 1px solid #888;
    height: 50px;
    border-radius: 7px;
    clear: left;
    width: 281px;
}

/*Join-form-section*/
.join-form {
    padding-left: 20px;
}

.text-center{
  text-align: justify;  
}

/*Reduce.html*/

.underline {
  text-decoration: underline;
}

.hr-style {
    border-top: 3px solid #fff;
}

.bullets {
  list-style-type:disc;
}

.myList {
  list-style-type: decimal;
  text-indent: 15px;
}

/*Dashboard.html  -  Pie-graph css*/
.arc text {
  font: 10px sans-serif;
  text-anchor: middle;
}

.arc path {
  stroke: #fff;
}

.arc2 text {
  font: 10px sans-serif;
  text-anchor: middle;
}

.arc2 path {
  stroke: #fff;
}
