/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v7.0.29,
* Autoprefixer: v9.7.6
* Browsers: last 4 version
*/

@import url('https://fonts.googleapis.com/css?family=Lato:100,200,300,400,500,600,700');

body { 
    font-family: "Lato", sans-serif;
}

/*---------------------------------Special paddings/margins/text*/
h1,
h2,
h3,
h4 {
    margin: 0;
    font-weight: bold;
}

white-text {
    color: #fff!important;
}

.text-header {
    color: #f8f9fa!important;
    text-align: justify;
    font-weight: 500;
    font-size: 1.75em;
}

.navbar-dark .navbar-nav .nav-link {
    color: rgba(255,255,255,.5);
    font-weight: 700;
}

.navbar-dark .navbar-nav .nav-link:focus, .navbar-dark .navbar-nav .nav-link:hover {
    background-color: rgb(156, 181, 56);
}

.navbar-brand:hover {
    background-color: rgb(156, 181, 56);
}

.navbar-dark .navbar-nav .active>.nav-link, 
.navbar-dark .navbar-nav .nav-link.active, 
.navbar-dark .navbar-nav .nav-link.show, 
.navbar-dark .navbar-nav .show>.nav-link {
    background-color: rgb(156, 181, 56);
}

.bg-header {
    background-image: url("../images/landing-img.jpg");
    background-color: #212529;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    position: relative;
    opacity: 0.9;
    height: 100vh;
}

.center {
    margin-left: auto;
    margin-right: auto;
    display: block
}

.text-effect {
    -webkit-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
}

.text-effect:hover {
    -webkit-transform: scale(1.1);
        -ms-transform: scale(1.1);
            transform: scale(1.1);
}

/*Images*/
.custom-responsiveness {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    position: relative;
    height: auto;
    max-width: 100vw; 
 }

.reduce-resize {
    background-position: center;
    background-repeat: no-repeat;
    background-size:  contain;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    position: relative;
    vertical-align: middle;
    margin-top: auto;
    margin-bottom: auto;
    /* height: 400px; */
 }

.img1 {
    width: 100vw;
    height: 450px;
    /* height: auto;
    min-height: 450px; */
 }

 .img2 {
    /* min-width: 100vw;
    min-height: 1000px;
    height: 100vh; */
    /*background-size: 100% auto;*/ /* CHECK IF I CAN USE THIS TO SOLVE RESPONSIVENESS*/
    background-image: url('/assets/images/reduce_img/accion_cambioclimatico_eng.png');
 }

 .img3 {
    width: 100vw;
    height: 700px;
    /* width: auto;
    height: 100vh;
    min-height: 800px; */
 }

.icons-padding {
    margin-top: 20px; 
}

/*@ Medias*/

@media only screen and (max-width: 400px)  {
    .reduce-resize {
    height: 12rem;
    }
    /* .img2 {
    min-height: 100rem;
    }*/
    .img3 {
    min-height: 20rem;
    } 
}

@media (min-width: 401px) and (max-width: 768px) { 
    .reduce-resize  {
    min-height: 20rem;
    background-position-y: center;
    }
}

@media (min-width: 769px) and (max-width: 991px) {
    .reduce-resize {
    max-height: 35rem;
    }
}

@media (min-width: 992px) {
    .reduce-resize {
    min-height: 45rem;
    /* max-height: auto; */
    }
    .img2 {
    min-height: 80rem;    
    } 
}

/*@media (min-width: 350px) {
    .reduce-img-resize {
    max-height: auto;
    }
}

@media (min-width: 1401px) and (max-width: 1800px)  {
    .reduce-img-resize {
    min-height: 10rem;
    }
}  */
/* 
}  */

/*sign-up.html*/
.bg-signup {
    background-position: 60% 25%; 
}

/*Form*/
.label-style {
    width: 100px;
    font-weight: bold;
}

.form-control-custom {
    border: 1px solid #888;
    height: 50px;
    border-radius: 7px;
    clear: left;
    width: 281px;
}

/*Join-form-section*/
.join-form {
    padding-left: 20px;
}

.text-center{
  text-align: justify;  
}

/*Reduce.html*/

.underline {
  text-decoration: underline;
}

.hr-style {
    border-top: 3px solid #fff;
}

.bullets {
  list-style-type:disc;
}

.myList {
  list-style-type: decimal;
  text-indent: 15px;
}

/*Dashboard.html  */
.custom-chart {
	margin-bottom: 20px;
}

.number-box {
    font-size: 0.938em;
    text-align: right!important;
    line-height: normal;
    background-color: #eaf5d0;
    background-clip: content-box;
    min-height: 20px;
}

.text-percentage {
    font-size: 20px;
    text-align: center;
    line-height: normal;
    background-color: #eaf5d0;
    background-clip: content-box;
    min-height: 20px;
}

    /*Dashboard.html world-map */ /*World Choropleth http://bl.ocks.org/palewire/d2906de347a160f38bc0b7ca57721328 */
    #world-map{
        background: #c7f0f9;
        display: inline-block;
        margin: 0 auto;
        text-align:center;
        position: relative;
        left: 63%;
        -webkit-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
        transform: translateX(-50%);
    }

    .countries {
        fill: none;
        stroke: #333333; 
        stroke-width: 0.5; 
        stroke-linejoin: round;
    }
    .legendThreshold {
        font-size: 15px;
        font-family: sans-serif;
    }
    .caption {
        fill: #000;
        text-anchor: start;
        font-weight: bold;
    }

    .tooltip{
        background-color:black;
        color: #fff;
        margin: 10px;
        width: 120px;
        padding: 5px 0;
        -webkit-border-radius:6px;
        -moz-border-radius:6px;
        border-radius:6px;
        pointer-events: none; /*to instruct the mouse event to go "through" the element and target whatever is "underneath" that element instead*/
        opacity: 0; 
        position: absolute;
        text-align: center;
    } 

/*Dashboard bootstraap https://startbootstrap.com/previews/sb-admin-2/*/
.dashboard-section {
  padding-top: 20px;
}

.shadow {
    -webkit-box-shadow: 0 .15rem 1.75rem 0 rgba(58,59,69,.15)!important;
        box-shadow: 0 .15rem 1.75rem 0 rgba(58,59,69,.15)!important;
}

.card-header:first-child {
    border-radius: calc(.35rem - 1px) calc(.35rem - 1px) 0 0;
}

.card {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid #e3e6f0;
    border-radius: .35rem;
    margin: 1.25rem 1.5rem 1.25rem 1.5rem;
}

.card-header {
    /* padding: .75rem 1.25rem; */
    margin-bottom: 0;
    background-color: #f8f9fc;
    border-bottom: 1px solid #e3e6f0;
}

.card-body {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 auto;
            flex: 1 1 auto;
    padding: 1.25rem;
}

.card-body-size {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 auto;
            flex: 1 1 auto;
    padding: 1.25rem;
    min-height: 500px;
}

.column-card {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    min-width: 0;
    word-wrap: break-word;
    background-clip: border-box;
    border: 1px solid #f0ece3;
    border-radius: .35rem;
    margin: 1.25rem 1.5rem 1.25rem 1.5rem;
    -webkit-box-shadow: 0 .15rem 1.75rem 0 rgba(58,59,69,.15)!important;
        box-shadow: 0 .15rem 1.75rem 0 rgba(58,59,69,.15)!important;
}

